.more-modal-div{
	position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;	
}
.table td,
.table th{
	border-top-width: 0px !important;
	text-align: left !important;
}
.p8{
	padding: 8px;
}
.more_modal_show_json{
	white-space: pre !important;
	font-family: monospace;
}
.w400{
	width: 400px;
}
.pl4{
	padding-left: 4px;
}
