<div class="modal inmodal fade" id="sms_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content animated flipInY">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">发送短信</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label"><font color="red">*</font>短信内容：</label>
						<div class="col-sm-8">
							<textarea class="form-control" ms-duplex="obj.content"></textarea>					
						</div>
					</div>	
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" ms-click="submit" ms-attr-disabled="is_locked_btn" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw'></i>处理中...">提交</button>
			</div>	
		</div>
	</div>
</div>