.w5{
	width: 5px;
}
.one_power{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: 1px solid #CCCCCC;
	color: #393939;
	font-weight: bold;
}
.two_power{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: #E7EBF8 dashed 1px;
	padding-left: 30px;
	color: #333;
}
.three_power{
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: #E7EBF8 dashed 1px;	
	padding-left: 50px;
	color: #666;
}

