<div class="row content-tabs">
	<button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
	</button>
	<nav class="page-tabs J_menuTabs">
		<div class="page-tabs-content">
			<a href="javascript:;" class="active J_menuTab" data-id="adminman/match/tournament/index.html">首页</a>
		</div>
	</nav>
	<button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
	</button>
	<div class="btn-group roll-nav roll-right">
		<button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

		</button>
		<ul role="menu" class="dropdown-menu dropdown-menu-right">
			<li class="J_tabShowActive"><a>关闭当前选项卡</a>
			</li>
			<li class="divider"></li>
			<li class="J_tabCloseAll"><a>关闭全部选项卡</a>
			</li>
			<li class="J_tabCloseOther"><a>关闭其他选项卡</a>
			</li>
		</ul>
	</div>
	<!--
    	作者：zDawnING
    	时间：2016-01-14
    	描述：新增的短消息提示
    -->
	<!--<a href="#" class="dropdown-toggle roll-nav roll_between J_tabTips" data-toggle="dropdown" aria-expanded="false" id="report_menu_a">
    	<i class="fa fa fa-bell"></i><span class="label label-danger label_short_tip" id="all_report">0</span>
    </a>
    <ul class="dropdown-menu dropdown-alerts roll_between short_tip" id="report_menu">
		<li>
			<a href="views/admin/user/report/index.html" class="J_menuItem">
				<div>
					<i class="fa fa-envelope fa-fw"></i>您有<strong id="user_report">0</strong>条用户举报未处理
				</div>
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="views/admin/knowledge/report/index.html" class="J_menuItem">
				<div>
					<i class="fa fa-envelope fa-fw"></i>您有<strong id="knowledge_report">0</strong>条知识举报未处理
				</div>
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="views/admin/live/report/index.html" class="J_menuItem">
				<div>
					<i class="fa fa-envelope fa-fw"></i>您有<strong id="live_report">0</strong>条直播举报未处理
				</div>
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="views/admin/knowledge/a_report/index.html" class="J_menuItem">
				<div>
					<i class="fa fa-envelope fa-fw"></i>您有<strong id="activity_report">0</strong>条活动举报未处理
				</div>
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="views/admin/knowledge/e_report/index.html" class="J_menuItem">
				<div>
					<i class="fa fa-envelope fa-fw"></i>您有<strong id="test_report">0</strong>条测评举报未处理
				</div>
			</a>
		</li>		
	</ul>-->
	<a href="javascript:" id="login_out_btn" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
</div>