<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="nav-close"><i class="fa fa-times-circle"></i>
	</div>
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span>
						<img alt="image" class="img-circle" src="../img/default_pic.png" width="64px"/>
					</span>
					<span class="clear">
                            <span class="block m-t-xs c_white"><strong class="font-bold" id="manager_name">管理员名称</strong></span>
                            <span class="text-muted text-xs c_white block" id="manager_type">超级管理员</span>
					</span>
				</div>
				<div class="logo-element">Jeeküp
				</div>
			</li>
			<li>
				<a class="J_menuItem" href="adminman/index/index.html">
					<i class="fa fa-home"></i>
					<span class="nav-label">首页</span>
					<span class="fa arrow"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-cog"></i>
					<span class="nav-label">用户管理</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
					<li>
						<a class="J_menuItem" href="adminman/user/list/index.html">用户列表</a>
					</li>
<!-- 					<li>
						<a class="J_menuItem" href="adminman/user/import/index.html">批量导入</a>
					</li> -->
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-cog"></i>
					<span class="nav-label">赛事管理</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
					<li>
						<a class="J_menuItem" href="adminman/match/tournament/index.html">联赛管理</a>
					</li>
					<li>
						<a class="J_menuItem" href="adminman/match/game/index.html">赛事管理</a>
					</li>
				</ul>
			</li>
<!-- 			<li>
				<a href="#">
					<i class="fa fa-cog"></i>
					<span class="nav-label">报名管理</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
					<li>
						<a class="J_menuItem" href="adminman/product/type/index.html">分类管理</a>
					</li>
					<li>
						<a class="J_menuItem" href="adminman/product/brank/index.html">品牌管理</a>
					</li>
					<li>
						<a class="J_menuItem" href="adminman/product/list/index.html">商品列表</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-cog"></i>
					<span class="nav-label">互动管理</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
					<li>
						<a class="J_menuItem" href="adminman/supplier/level/index.html">供应商等级管理</a>
					</li>
					<li>
						<a class="J_menuItem" href="adminman/supplier/list/index.html">供应商列表</a>
					</li>
					<li>
						<a class="J_menuItem" href="adminman/supplier/update_record/index.html">审核供应商资料修改</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-cog"></i>
					<span class="nav-label">排行榜</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
					<li>
						<a class="J_menuItem" href="adminman/order/list/index.html">订单列表</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-cog"></i>
					<span class="nav-label">数据统计</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
					<li>
						<a class="J_menuItem" href="adminman/user/list/index.html">客户列表</a>
					</li>
					<li>
						<a class="J_menuItem" href="adminman/user/update_record/index.html">审核客户资料修改</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-cog"></i>
					<span class="nav-label">权限管理</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
					<li>
						<a class="J_menuItem" href="adminman/manager/list/index.html">管理员列表</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-cog"></i>
					<span class="nav-label">日志</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
					<li>
						<a class="J_menuItem" href="adminman/send/salesman/index.html">业务员列表</a>
					</li>
					<li>
						<a class="J_menuItem" href="adminman/send/list/index.html">配送员列表</a>
					</li>
					<li>
						<a class="J_menuItem" href="adminman/send/route/index.html">线路列表</a>
					</li>
					<li>
						<a class="J_menuItem" href="adminman/send/list/index.html">配送流水列表</a>
					</li>
				</ul>
			</li> -->
		</ul>
	</div>
</nav>
<!--左侧导航结束