<!--左侧导航开始-->
<script type="text/javascript" src="modules/h+common/js/left_navbar.js"></script>
<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="nav-close"><i class="fa fa-times-circle"></i>
	</div>
	<div class="sidebar-collapse">
		<ul class="nav">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span>
						<img id="nav_account_header_url" alt="image" class="img-circle" src="../img/default_pic.png" width="64px"/>
					</span>
					<!--<span>
						<div class="pic_div">
							<p class="m0">测试</p>
						</div>
					</span>-->
					<span class="clear">
                            <span class="block m-t-xs c_white"><strong class="font-bold"><span  id='nav_account_name'>加载中...</span></strong>
					</span>
					<span class="text-muted text-xs c_white block"></span>
					</span>
				</div>
				<div class="logo-element">
				</div>
			</li>
		</ul>
		<ul class="nav" id="side-menu">
			<!--
			<li>
				<a class="J_menuItem" href="developer/index/index.html">
					<i class="fa fa-home"></i>
					<span class="nav-label">首页</span>
					<span class="fa arrow"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-cog"></i>
					<span class="nav-label">系统权限</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
                 <li>
						<a class="J_menuItem" href="developer/role/index.html">用户角色管理</a>
					</li>
                    
                    <li>
						<a class="J_menuItem" href="developer/application/index.html">应用列表管理</a>
					</li>
                    <li>
						<a class="J_menuItem" href="developer/module/index.html">模块列表管理</a>
					</li>
                   
					<li>
						<a class="J_menuItem" href="developer/user_group/index.html">用户组列表</a>
					</li>
                    <li>
						<a class="J_menuItem" href="developer/department/index.html">组织架构管理</a>
					</li>
                    
					<li>
						<a class="J_menuItem" href="developer/authority/index.html">权限管理</a>
					</li>
					<li>
						<a class="J_menuItem" href="developer/jsonman/index.html">JSON管理22222222</a>
					</li>
					<li>
						<a class="J_menuItem" href="developer/test/index.html">测试管理</a>
					</li>
					<li>
						<a class="J_menuItem" href="developer/user/index.html">开发者管理</a>
					</li>
					<li>
						<a class="J_menuItem" href="developer/record/index.html">变动记录管理</a>
					</li>		
                 
				</ul>
			</li>
            <li>
				<a href="#">
					<i class="fa fa-cog"></i>
					<span class="nav-label">用户管理</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
					<li>
						<a class="J_menuItem" href="adminman/user/list/index.html">用户列表</a>
					</li>
					<li>
						<a class="J_menuItem" href="adminman/user/import/index.html">批量导入</a>
					</li> 
				</ul>
			</li>-->
		</ul>
	</div>
</nav>
<!--左侧导航结束-->